<% content_for(:head) do %>
  <%= stylesheet_link_tag "jquery.Jcrop" %>
  <%= javascript_include_tag "jquery.Jcrop.min" %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      $('#cropbox').Jcrop({
        onChange: update_crop,
        onSelect: update_crop,
        setSelect: [0, 0, 500, 500],
        aspectRatio: 1
      });
    });

    function update_crop(coords) {
      var rx = 100/coords.w;
      var ry = 100/coords.h;
      $('#preview').css({
        width: Math.round(rx * <%= @avatar.width %>) + 'px',
        height: Math.round(ry * <%= @avatar.height %>) + 'px',
        marginLeft: '-' + Math.round(rx * coords.x) + 'px',
        marginTop: '-' + Math.round(ry * coords.y) + 'px'
      });
      $("#crop_x").val(Math.round(coords.x));
      $("#crop_y").val(Math.round(coords.y));
      $("#crop_w").val(Math.round(coords.w));
      $("#crop_h").val(Math.round(coords.h));
    }
  </script>
<% end %>

<%= image_tag @avatar.public_filename, :id => "cropbox" %>

<h4>Preview:</h4>
<div style="width:100px; height:100px; overflow:hidden">
  <%= image_tag @avatar.public_filename, :id => "preview" %>
</div>

<% form_for @avatar do |f| %>
  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    <%= f.hidden_field attribute, :id => attribute %>
  <% end %>
  <p><%= f.submit "Crop", :disable_with => "Cropping ..." %></p>
<% end %>
